#available-rooms {
  height: auto;
 
}

#available-rooms-header {
  font-family: Orbitron;
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.14em;
  text-align: left;
  color: #ffffff;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#refresh,
#create-new {
  font-family: Nexa;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0.14em;
  text-align: left;
  background: linear-gradient(
      180.71deg,
      rgba(170, 20, 240, 0.441) -97.37%,
      rgba(170, 20, 240, 0.009375) 99.37%,
      rgba(217, 217, 217, 0) 99.38%,
      rgba(217, 217, 217, 0) 99.38%
    ),
    linear-gradient(0deg, rgba(170, 20, 240, 0.6), rgba(170, 20, 240, 0.6)),
    linear-gradient(0deg, #bb77db, #bb77db);
  padding: 2.5vh 6vh;
  border-radius: 10px;
  color: #d9d9d9;
  border: 1px solid #bb77db;
}
#create-new {
  color: #d9d9d9;
  background: none;
  padding: 2.5vh 4vh;
  margin-left: 2vw;
}

.room p {
  background: none;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.14em;
  color: #ffffff;
  padding:3.5vw;
}

#room-container{
    margin: auto 7vw;
}
#button-conatainer{
    margin-top: 10vh;
    
}