@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.carousel-container {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin: auto;
  background:none !important;
}

.carousel {
  display: flex;
  width: 90%;
  justify-content: space-between;
  background:none !important;
}

.card {
  height: 50vh;
  width: 25vw;
  background-color: transparent;
  border-radius: 0px 25px 0px 25px;
  border: 1px solid #bd30ff;
  background: #090823 !important; 

border-image-source: linear-gradient(0deg, rgba(170, 20, 240, 0.6), rgba(170, 20, 240, 0.6)),
linear-gradient(180.71deg, rgba(170, 20, 240, 0.441) -97.37%, rgba(170, 20, 240, 0.009375) 99.37%, rgba(217, 217, 217, 0) 99.38%, rgba(217, 217, 217, 0) 99.38%);


}

.card img {
  height: auto;
  width: 90%;
  display: flex;
  border-radius: 0px 25px 0px 25px;
  margin: auto;
  margin-top: 2vh;
  background: none;
}

.button-carousel {
  width: 3vw;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 72px;
  background: none;
  color: #bd30ff;
  border: 0;
  background-color: transparent !important;
  
}
.card p {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  width: 90%;
  line-height: 72px;
  background: none;
  color: #ffffff;

  border: 0;
  text-align: left;
  padding-left: 1.5vw;
}

.card h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  color: #ffffff;
  background: none;
}
#carousel-topic{
font-family: Orbitron;
font-size: 32px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.14em;
text-align: left;
color: #FFFFFF;
display: flex;
justify-content: center;
background: none;

}

#carousel-topic p{
    border-bottom:3px solid #FFFFFF;
    width:min-content;
    padding-bottom: 2vh;
    margin-bottom:7vh;
    padding-top: 5vh;
    text-align: center;
    background: none;
}

#main-features-container{

  background-image: url(../images/slide2.png);

background-size: cover !important;

}